.profile {
  position: absolute;
  top: 7rem;
  left: 1rem;
  background-color: rgb(243, 244, 246);
  display: flex;
  width: 98%;
  justify-content: center;
  gap: 6rem;
}

.sid {
  max-width: 20%;
  background-color: white;
}
.profile-forms {
  width: 60%;
}

.forms {
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  padding: 2rem;
  margin-top: 2rem;
}
